@import '@scss';

.container {
  width: 100%;
  height: 70vh;
  max-height: 600px;
  min-width: 960px;

  &__content {
    width: 100%;
    height: 100%;
    border: 3px dashed $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &__upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      &-img {
        margin: 0 auto;
        width: 7rem;
      }

      h3 {
        color: $grey-icon-color;
      }
    }

    &__files {
      width: 100%;
      height: 100%;

      &__form {
        // background: red;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        // align-items: flex-start;
        // padding: 1rem;
      }

      &__item {
        width: 20%;
        min-width: 190px;
        max-width: 200px;
        height: 15rem;
        border: 1.5px solid $grey-color;
        margin-left: 1rem;
        position: relative;
        margin: 10px auto;
        padding: 5px;
        border-radius: 5px;

        &-img {
          object-fit: fill;
          width: 100%;
          height: 75%;
          cursor: zoom-in;
        }

        &-input {
          width: 95%;
          display: block;
          margin: 0 auto;
          margin-top: 5px;
          border: 1px solid $grey-color;
          border-radius: 5px;
          padding: 5px;
          font-size: 12px;
          outline: none;
          // background-color: red;

          &-error {
            color: red;
            font-size: 12px;
            text-align: center;
          }
        }

        &__close {
          --size: 1.3rem;
          width: var(--size);
          height: var(--size);
          position: absolute;
          right: 5px;
          top: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $grey-color;
          cursor: pointer;

          &-icon {
            display: block;
            font-size: 20px;
          }
        }

        // h3 {
        //   text-align: center;
        // }
      }

      &__add {
        width: 20%;
        min-width: 190px;
        max-width: 200px;
        height: 15rem;
        border: 1.5px solid $grey-color;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        margin: 10px auto;
        padding: 5px;
        border-radius: 5px;

        h3{
          color: $grey-icon-color;
        }

        &-img {
          --size: 80px;
          margin: 0 auto;
          display: block;
          width: var(--size);
          height: var(--size);
        }
      }
    }
  }
}
