@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 600px;
    img {
      --size: 500px;
      width: var(--size);
      height: 400px;
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: 18px;
      text-align: center;
    }
  }
}
