@import '@scss';

.container {
  width: 100%;
  height: auto;

  &__content {
    width: 100%;
    height: auto;
    display: flex;

    &__item {
      width: 100%;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-left: 5px;
      }
    }
  }
}
