@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 2rem;

  &__content {
    width: 100%;
    height: 90vh;
  }
}
