@import '@scss';

.container {
  width: 100%;
  height: 3.5rem;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;

    &__item {
      width: 100%;
      height: auto;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: $primary-color !important;
        border-bottom: 2px solid $primary-color !important;
      }
    }
  }
}

.prueba {
  background-color: red;
}
