@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    height: 90vh;
    margin-top: $navbar-size;
    max-height: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // align-items: center;

    h1 {
      text-align: center;
    }

    &__information {
      width: 100%;
      height: 600px;
      display: grid;
      grid-template-columns: 50% 50%;

      &__left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        &-separator {
          display: block;
          position: absolute;
          width: 2px;
          height: 95%;
          background: radial-gradient($primary-color, #5089e43e);
          right: 10px;
        }

        &__profile {
          width: 50%;
          height: 50%;
          min-width: 310px;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        &__edit {
          position: absolute;
          width: 50px;
          height: auto;
          background: whitesmoke;
          border: 3px solid gray;
          border-radius: 30%;
          padding: 10px;
          top: 40%;
          right: 30%;
          cursor: pointer;
        }
        // background-color: red;
      }

      &__right {
        padding: 10px;
        // background-color: red;
        // background-color: blue;
        // border-left: 1px solid $primary-color;
      }
    }
  }
}
