@import '@scss';

.container {
  width: 90%;
  height: 25%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &__content {
    width: 100%;
    height: 10%;
    margin-top: $navbar-size;
  }
  &__chart {
    margin-top:5rem;
    width: 100%;
    height: 60vh;
    max-height: 100vh;
  }
  &__framechart {
    margin-top:5rem;
    width: 100%;
    height: 60vh;
    max-height: 100vh;
  }
  &__gridStats {
    width: 100%;
    height: 20%;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    }

    &__gridData {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 33%);
      } 
  
}

.Title{
  width: 100%;
  margin-top: 1rem;
}

.Title h1{
  // color: red;
  color: #666666;
  font-size: 2.5rem;
}
