@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;

  &__content {
    width: 100%;
    height: 90vh;
    margin-top: $navbar-size;
    max-height: 1160px;
    // position: relative;
    // z-index: -1;

    &__title {
      height: auto;
      width: 100%;
      font-size: $title-letter;
      display: flex;
      justify-content: space-between;
      align-items: center;
      --size-icon: 25px;

      img {
        width: var(--size-icon);
        height: var(--size-icon);
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          filter: brightness(1.8);
          transition: $general-transition;
        }
      }
    }

    &__title-edit {
      font-size: $title-letter;
      border: none;
      outline: none;
      width: fit-content;
      height: auto;
      text-align: right;
    }

    &__options-name-error {
      position: absolute;
      font-size: 20px;
      color: red;
      text-align: right;
    }

    &__searchbar {
      width: 100%;

      &-limit {
        width: 40%;
        height: 50px;
        min-width: 450px;
      }
    }

    &__information {
      width: 100%;
      height: 50px;
    }

    &__sl {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__tabs {
        width: 500px;
        height: 3.5rem;
        // background-color: green;
      }

      &__buttons {
        width: 340px;
        display: flex;
        justify-content: space-between;
      }
    }

    &__inside {
      &-empty {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;

        img {
          width: 100%;
          height: 80%;
        }
      }
    }

    &__corner {
      position: absolute;
      --btn-size: 40px;
      width: var(--btn-size);
      height: var(--btn-size);
      border-radius: 50%;
      background-color: $white-color;
      bottom: 40px;
      right: 0;
      cursor: pointer;
      transition: all 0.3s;
      text-align: center;

      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      filter: brightness(1.2);
      overflow: hidden;

      &__theme {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: 7.5px;
        left: 7.5px;
      }

      &:hover {
        width: 150px;
        border-radius: 50px;
        // border-radius: 25%;

        &:after {
          content: 'Cambiar tema';
          width: 120px;
          font-size: 12px;
          position: absolute;
          right: 0px;
          bottom: 10px;
          font-weight: 500;
          // color: $white-color;
          // text-align: center;
        }
      }
    }
  }
}
