@import '@scss';

.container {
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.guide {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-rows: repeat(auto-fill, 1fr);
  margin-left: 1em;
  margin-right: 1em;

  &__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
    color: $secondary-color;
    font-weight: 700;
  }

  &__card {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    justify-self: center;
    max-width: 700px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    background: $grey-extra-light-color;
  }

  &__description {
    font-size: 18px;
    font-weight: 450;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__step {
    font-size: $title-letter;
    color: $primary-color;
    font-weight: bold;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid black;
  }
}

.fadeLeft {
  animation: fadeInLeft 3s;
  -webkit-animation: fadeInLeft 3s;
  -moz-animation: fadeInLeft 3s;
  -o-animation: fadeInLeft 3s;
  -ms-animation: fadeInLeft 3s;
}

.fadeRight {
  animation: fadeInRight 3s;
  -webkit-animation: fadeInRight 3s;
  -moz-animation: fadeInRight 3s;
  -o-animation: fadeInRight 3s;
  -ms-animation: fadeInRight 3s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
