@keyframes button-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    // transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    // transform: rotate(360deg);
  }
}

@keyframes animrotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes easy-in-out-v2 {
  0% {
    top: -100px;
    opacity: 0;
  }

  25% {
    top: 25vh;
    opacity: 0.25;
  }
  50% {
    top: 50vh;
    opacity: 0.5;
  }
  75% {
    top: 75vh;
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.rotate {
  animation: animrotate 1s linear infinite;
}

.easy-in-out-v2-animation {
  animation: easy-in-out-v2 1.3s linear;
  animation-fill-mode: forwards;
}

.fade-in-image {
  --delay: 1s;
  animation: fadeIn var(--delay);
  -webkit-animation: fadeIn var(--delay);
  -moz-animation: fadeIn var(--delay);
  -o-animation: fadeIn var(--delay);
  -ms-animation: fadeIn var(--delay);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
