.error-message {
  color: $error-color;
  font-size: $small-letter;
  // text-align: left;
  position: absolute;
  bottom: -21px;
  left: 0;
}

.label-input {
  display: block;
  color: $grey-color;
  font-size: $small-letter;
  margin-bottom: 10px;
  text-align: left;
}

.disable {
  background: $grey-color;
  cursor: none;
}

.alert-container-animation {
  z-index: 100;
  position: relative;
}

.flex {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &-y-center {
    display: flex;
    align-items: center;
  }

  &-x-center {
    display: flex;
    justify-content: center;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-end {
    display: flex;
    justify-content: flex-end;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.border-error {
  border: 1px solid $error-color !important;
}

.hide {
  display: none;
  visibility: 0;
}

.triangle {
  position: absolute;
  cursor: pointer;
  bottom: 0.7rem;
  right: 2px;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 14px 9px 0 9px;
  border-color: $primary-color transparent transparent transparent;
}

.limit-container {
  margin: 0 auto;
  max-width: 1250px;
}

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: $i * 1px !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px !important;
  }

  .ml-#{$i} {
    margin-left: $i * 1px !important;
  }

  .mr-#{$i} {
    margin-right: $i * 1px !important;
  }

  $i: $i + 5;
}

.disable-stepper {
  background-color: $grey-extra-light-color !important;
}

.invisible {
  display: none;
}

.disable-tab {
  color: $grey-color !important;
  border-bottom: 2px solid $grey-color !important;
}

.flow-vertically {
  flex-direction: column !important;
}

.flex-horizontal {
  flex-direction: row !important;
}

.hidden {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.color-loader {
  border-left-color: $secondary-color !important;
}

.tab-activated {
  background: $white-color;
  color: $primary-color;
  padding: 5px;
  border-radius: 5px;
}

.global-shadow {
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.seperator {
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 30px 0 -10px;
}

.seperator b {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}

.full-width {
  width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
    transition: $general-transition;
  }
}

@for $i from 0 through 12 {
  .col-#{$i} {
    width: $i * 8.33% !important;
  }

  $i: $i + 1;
}

.text-center {
  width: 100%;
  text-align: center;
}

.gaa {
  width: 45%;
}

.w-r {
  width: 100%;
  height: 1px;
  position: fixed;
  background: transparent;
  bottom: 0;
}
