// Colors
$primary-color: #3a86ff;
$secondary-color: #fb5607;
$third-color: #6c63ff;
$white-color: white;
$grey-color: #9c9c9c;
$grey-light-color: #fafafa;
$grey-extra-light-color: #e0e0e0;
$error-color: red;
$warning-color: #ffa513;
$alternative-input-color: #eff0f6;
$grey-icon-color: #464444;

// Letters
$medium-letter: 14px;
$small-letter: 12px;
$title-letter: 30px;

//Transitions
$general-transition: 0.2s;

//Extras
$navbar-size: 70px;
