@import '@scss';

.container {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  position: relative !important;

  &__input {
    width: 100%;
    height: auto;
    padding: 15px;
    outline: none;
    border: 1px solid $grey-color;

    &:focus {
      border: 1px solid $primary-color;
      transition: $general-transition;
    }

    &:hover {
      border: 1px solid $primary-color;
      transition: $general-transition;
    }
  }
}
