@import '@scss';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 999;

  &__content {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: $white-color;
    padding: 3rem;

    &__image{
      width: 100%;
      height: 100%;
      background: red;

      img{
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }

    &-close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      cursor: pointer;
      font-size: 2rem;
      color: $grey-color;
    }
  }
}
