@import '@scss';

.content {
  position: absolute;
  width: 400px;
  height: 180px;
  background-color: red;
  top: 78vh;
  left: 20px;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // visibility: hidden;
  // display: none;

  &__information {
    // width: 60%;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: $white-color;
  }
}
