@import '@scss';

.container {
  width: 100%;
  height: 90px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    --size: 3rem;
    --spacing: 0.5rem;

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      // z-index: 1;

      &-circle {
        margin: 0 auto;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        h3{
            color: $white-color;
        }
      }
      &:not(:last-child)::after {
        content: '';
        position: relative;
        top: 1.5rem;
        // left: 50%;
        height: 2px;
        background-color: $grey-extra-light-color;
        order: -1;
        width: calc(100% - var(--size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--size) / 2 + var(--spacing)));
      }
    }
  }
}


// .active{
//     bbackground-color: $grey-color !important;
// }