@import '@scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  max-height: 550px;
  min-width: 1250px;
  overflow-y: auto;
  margin-top: 10px;
  //   min-height: 800px;
  //   max-width: 900px;

  &__content {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;

    &__item {
      width: 100%;
      height: 300px;
      --size-preview: 60%;
      border: 1px solid $primary-color;

      &__title-edit {
        border: none;
        outline: none;
        font-size: 12px;
      }

      &__select {
        width: 100%;
        height: calc((100% - var(--size-preview)) / 2);
        padding: 5px;

        --size-check: 20px;
        input[type='checkbox'] {
          width: var(--size-check);
          height: var(--size-check);
        }
      }

      &__preview {
        width: 100%;
        height: var(--size-preview);
        overflow: hidden;

        &-photo {
          display: block;
          text-align: center;
          --zoom: 0.8;
          width: 1200px;
          height: 100vh;
          border: 2px solid $primary-color;
          -ms-zoom: var(--zoom);
          -moz-transform: scale(var(--zoom));
          -moz-transform-origin: top centre;
          -o-transform: scale(var(--zoom));
          -o-transform-origin: top centre;
          -webkit-transform: scale(var(--zoom));
          -webkit-transform-origin: top centre;
          background: blue;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
          pointer-events: none;
          transition: opacity 5s;
          opacity: 1;
          visibility: hidden;
        }
      }

      &__img {
        height: 100%;
        img {
          width: 100% !important;
          height: 100% !important;
          object-fit: fill;
        }
      }

      &__options {
        width: 100%;
        height: calc((100% - var(--size-preview)) / 2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        position: relative;
        margin-top: -5px;
        // background-color: red;

        &-name {
          font-size: 12px;

          &-input {
            // width: 95%;
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            border: 1px solid #9c9c9c;
            border-radius: 5px;
            padding: 5px;
            font-size: 12px;
            outline: none;
          }

          &-error {
            font-size: 10px;
            position: absolute;
            bottom: -5px;
            left: 10px;
            color: $error-color;
          }
        }

        &-buttons {
          width: 50px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 3px;
          img {
            cursor: pointer;
            height: 1.3rem;

            &:hover {
              filter: brightness(1.8);
              transition: $general-transition;
            }
          }
        }
      }
    }
  }
}
