@import '@scss';

.container {
    width: 100%;
    height: 100%;
    display: grid;
}

.Center{
    width: 100%;
    height: 100%;
    display: grid;
    padding-left: auto;
    padding-right: auto;
    border-left-color: black; 
    border-left-style: solid;
    border-right-color: black; 
    border-right-style: solid;
    border-width: .25rem;
 } 

.Number{
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.Name{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}