@import '@scss';

.container {
  width: 100%;
  z-index: 999;
  height: $navbar-size;
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);

  &__content {
    width: 100%;
    height: inherit;
    position: relative;

    &-logo {
      width: 140px;
      height: 45px;
      margin-top: -5px;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      // font-size: 30px;
      // font-weight: 600;
    }

    &__options-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 200px;
      height: 200px;
      // height: 100px;
      background-color: $primary-color;
      clip-path: polygon(
        84% 53%,
        88% 60%,
        100% 60%,
        100% 100%,
        0 100%,
        0 60%,
        79% 60%
      );
      bottom: -100px;
      right: 0;
      z-index: 50;
      // overflow: hidden;

      &-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;

        img {
          margin-right: 10px;
        }

        &:hover {
          // filter: brightness(1.8);
          background-color: #84b2fc;
          transition: $general-transition;
        }
      }
    }

    &__right {
      width: auto;
      height: auto;

      &-options {
        z-index: 999;

        ul {
          list-style: none;

          li {
            display: inline;
            margin: 0px 1rem;
            cursor: pointer;
          }
        }
      }

      &-settings {
        width: 35px;
        height: auto;
        margin: 0 1rem;
        background: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        p {
          font-weight: 600;
        }

        img {
          // border-radius: 15%;
          border-radius: 50%;
          object-fit: cover;
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
