@import '@scss';

.container {
  width: 100%;
  height: auto;
  margin: 10px 0px;
  position: relative;

  &__select {
    width: inherit;
    height: auto;
    padding: 10px;
    outline: none;
    border: 1px solid $grey-color;
    cursor: pointer;
    z-index: 100;

    &:focus {
      border: 1px solid $primary-color;
      transition: $general-transition;
    }

    &:hover {
      border: 1px solid $primary-color;
      transition: $general-transition;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    bottom: -8.5rem;
    height: auto;
    width: 100%;
    border: 1px solid $primary-color;
    background: $white-color;
    z-index: 101;

    &--option {
      width: 100%;
      height: auto;
      border-bottom: 1px solid $primary-color;
      padding: 10px;
      cursor: pointer;
      &:hover {
        color: $white-color;
        background: $primary-color;
      }
    }
  }
}
