@import '@scss';

.container {
  width: 100%;
  height: auto;
  min-height: 240px;
  min-width: 1300px;
  // background-color: red;
  margin-top: $navbar-size;

  &__content {
    width: 100%;
    height: auto;

    &__fl {
      width: 100%;
      height: auto;
      //   display: flex;
      //   border: 1px solid red;

      &__info {
        width: 60%;
        height: 180px;
        display: flex;
        display: flex;
        align-items: center;

        &-img {
          width: 35%;
          height: 190px;
          // width: 50%;
          // min-width: 240px;
          // min-height: 180px;

          img {
            // border-radius: 15%;
            border-radius: 50%;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &-text {
          width: 100%;
          height: auto;
          height: 90px;

          &-name {
            font-size: 20px;
          }

          &-title {
            font-size: 50px;
          }
        }
      }
    }

    &__sl {
      &-searchbar-content {
        width: 400px;
      }

      width: 100%;
      // justify-content: flex-end;
    }
  }
}
