@import '@scss';

.container {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: $alternative-input-color;

  --logo-size: 20px;
  &__logo {
    width: var(--logo-size);
    height: var(--logo-size);
    &-icon {
      width: 100%;
      height: 100%;
    }
  }

  &__input {
    width: var(--logo-size);
    height: var(--logo-size);
    width: 95%;
    height: inherit;
    padding: 15px;
    outline: none;
    background-color: $alternative-input-color;
    // border: 1px solid $grey-color;
    border: none;

    &:focus {
      border: none;
      transition: $general-transition;
    }

    &:hover {
      border: none;
      transition: $general-transition;
    }
  }
}
