@import '@scss';

.container {
  width: 100%;
  height: 100vh;

  &__content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'left right';

    &__left {
      grid-area: 'left';
      background: $primary-color;

      &-img {
        width: 80%;

        img {
          width: 100%;
        }
      }
    }

    &__right {
      grid-area: 'right';
      width: 100%;
      height: auto;
    }
  }
}
