@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  // max-height: 600px;
  // min-width: 960px;

  &__content {
    width: 100%;
    height: 100%;
    border: 3px dashed $primary-color;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow-y: scroll;
    // overflow-x: hidden;
    --size-options: 20%;
    --size-icon: 40px;
    position: relative;

    &-title {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1rem;
    }

    &__back {
      width: var(--size-options);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        width: var(--size-icon);
        height: var(--size-icon);
        cursor: pointer;
      }
    }

    &__preview {
      width: 1200px;
      height: 100%;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &-photo {
        background-color: red;
        display: block;
        text-align: center;
        --zoom: 0.8;
        width: 1200px;
        height: 100%;
        border: 1.5px solid $grey-color;
        -ms-zoom: var(--zoom);
        -moz-transform: scale(var(--zoom));
        -moz-transform-origin: top centre;
        -o-transform: scale(var(--zoom));
        -o-transform-origin: top centre;
        -webkit-transform: scale(var(--zoom));
        -webkit-transform-origin: top centre;
        background: blue;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        overflow-y: scroll;
        pointer-events: none;
        transition: opacity 5s;
        opacity: 1;
      }
    }

    &__next {
      width: var(--size-options);
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        width: var(--size-icon);
        height: var(--size-icon);
        cursor: pointer;
      }
    }
  }
}
