@import '@scss';

.container {
  width: 100%;
  height: 70vh;
  max-height: 600px;
  min-width: 960px;

  &__content {
    width: 100%;
    height: 100%;
    border: 3px dashed $primary-color;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    &__view {
      width: 80%;
      height: auto;
      border: 1px solid $grey-color;
      background-color: $white-color;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem auto;

      &-title {
        width: 100%;
        font-size: 1.2rem;
      }

      &__predictions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
