@import '@scss';

.container {
  width: 50%;
  height: 250px;
  min-width: 300px;
  border: 1px solid $primary-color;
  padding: 10px;
  border-radius: 5px;

  &__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      width: auto;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-left: 5px;
      }
    }
  }
}
