@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --size-icon: 32px;
  position: relative;

  &-back {
    width: var(--size-icon);
    height: var(--size-icon);
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  &__content {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;

    img {
      width: 50%;
      height: 50%;
      min-width: 430px;
      min-height: 285px;
    }
  }
}
