@import '@scss';

.container {
  width: 100%;
  height: 70vh;
  max-height: 600px;
  min-width: 960px;

  &__content {
    width: 100%;
    height: 100%;
    border: 3px dashed $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
  }
}
