@import '@scss';

.container {
  width: 100%;
  height: auto;
  min-width: 1300px;

  &__content {
    width: 100%;
    height: auto;
    position: relative;
    --arrow_size: 20px;

    &_next,
    &_back {
      position: absolute;
      width: var(--arrow_size);
      height: var(--arrow_size);
      fill: red !important;
      cursor: pointer;
      &:hover {
        filter: brightness(1.8);
        transition: $general-transition;
      }
    }

    &_next {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &_back {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &_back {
      position: absolute;
    }

    &__cards {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__empty {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;

      img {
        width: 100%;
        height: 80%;
      }
    }

    &__footer {
      margin-top: 10px;
      display: block;
      text-align: center;
      font-weight: 400;
    }
  }
}
