@import '@scss';

.container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-y: auto;
  margin-top: 1rem;

  &__configuration {
  }

  &__dependencies {
    width: 100%;
    height: auto;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
  }
}
