@import '@scss';

.container {
  width: 40%;
  max-width: 670px;
  min-width: 540px;
  height: auto;
  background-color: $warning-color;
  position: fixed;
  z-index: 100;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: $white-color;

  &__content {
    width: 100%;
    height: auto;
    display: flex;

    &__logo {
      width: 20%;
      text-align: center;

      &-icon {
        --size: 50px;
        width: var(--size);
        height: var(--size);
      }
    }

    &__information {
      width: 80%;
      height: auto;

      &-title {
        display: block;
      }

      &-descriptions {
        padding: 0 2rem;
      }

      &-close {
        --size: 25px;
        width: var(--size);
        height: var(--size);
        font-size: var(--size);
        // font-size: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
