@import '@scss';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    height: 90vh;
    margin-top: $navbar-size;
    max-height: 1160px;

    &__back {
      --size: 2rem;
      width: 100%;
      height: var(--size);

      &-icon {
        width: var(--size);
        height: var(--size);
        cursor: pointer;
      }
    }

    &__options {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
