@import '@scss';

:root {
  --toastify-color-progress-info: #3a86ff;
  --toastify-icon-color-info: #3a86ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: $grey-light-color;
  font-size: $medium-letter;
  // width: 100wh;
  // height: 100vh;
}

a {
  text-decoration: none;
}

.react-colorful {
  height: 240px;
}
.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}
