@import '@scss';

.container {
  width: fit-content;
  height: auto;
  width: 10rem;
  height: 3rem;

  &__loader {
    border: 4px solid transparent;
    border-left-color: $white-color;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    // animation: button-loader 1s linear infinite;
  }

  &__button {
    font-size: $medium-letter;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    color: $white-color;
    background: $secondary-color;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 400;
    // padding: 0.7rem;

    &--disable {
      font-size: $medium-letter;
      display: flex;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
      color: $white-color;
      background: $grey-color;
      border: none;
      border-radius: 7px;
      font-weight: 400;
      padding: 0.7rem;
    }

    &--outline {
      font-size: $medium-letter;
      display: flex;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
      color: $white-color;
      background: transparent;
      border: 0.125rem solid $secondary-color;
      color: $secondary-color;
      border-radius: 7px;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        filter: brightness(1.2);
        transition: $general-transition;
      }
    }

    &:hover {
      filter: brightness(1.2);
      transition: $general-transition;
    }
  }
}
