@import '@scss';

.container {
  width: 21%;
  height: 12rem;
  border-radius: 5px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  margin-bottom: 1rem;
  font-size: 14px;
  // float: left;
  // margin: 10px 1%;

  &__content {
    width: 100%;
    height: 12rem;
    padding: 10px;

    &__fl {
      width: 100%;
      height: 60%;

      &-symbol {
        color: $primary-color;
        font-size: 4rem;
      }
    }

    &__sl {
      width: 100%;
      height: 40%;
      border-top: 1px solid $grey-color;

      &-project {
        text-align: center;
      }

      &__option {
        width: 100%;
        height: auto;

        &-date {
        }

        &-buttons {
          width: 20%;
          img {
            cursor: pointer;
            height: 1.3rem;
            &:hover {
              filter: brightness(2);
              transition: $general-transition;
            }
          }
        }
      }
    }
  }
}
